<div class="container">
  <div class="row">
    <div class="card">
      <h3><b>¿Quienes Somos?</b></h3>
      <h4>
        Somos una empresa en constante crecimiento, con experiencia en el sector
        de calzado. Nuestro espíritu es innovador, por eso preferimos las ventas
        online, ya que vemos en estas la mejor forma de que nuestros clientes
        puedan obtener los productos que deseen desde donde estén a tan solo un
        click. Entre nuestros valores como grupo de labores destaca el trabajo
        en equipo, la transparencia de todo lo que ofrecemos, y la confianza y
        respeto que sentimos por nuestros clientes. Nuestro compromiso es con
        los usuarios de nuestro sitio Web, queremos que cuando ingresen en
        nuestro portal consigan todo lo que están buscando y sin ningún
        problema.
      </h4>
      <h3><b>Ubicacion</b></h3>
      <h4>
        Nos encontramos en la direccion: Hacienda Cuastecomate
        #2813,Oblatos,Guadalajara, Jalisco
      </h4>
      <div class="padre">
        <div id="map"></div>
      </div>
    </div>
  </div>
</div>
