<mat-toolbar class="navbar">
  <a>Yogui Store </a>
  <div>
    <a routerLink="home">Home</a>
    <a routerLink="register-articulos" *ngIf="number == 1 || number == 2"
      >Articulos</a
    >
    <a routerLink="pedidos" *ngIf="number == 1 || number == 2">Pedidos</a>
    <a routerLink="carrito" *ngIf="number == 3">Carrito</a>
    <a routerLink="login" *ngIf="number == 0">Login</a>
    <a routerLink="register-cliente" *ngIf="number == 0">Registro</a>
    <a routerLink="nosotros">Nosotros</a>
    <a (click)="logOut()" *ngIf="number != 0">Cerrar Sesion</a>
  </div>
</mat-toolbar>
