<div class="abue">
  <div class="padre">
    <div class="container2">
      <h1>Productos</h1>
    </div>
  </div>
  <div class="padre">
    <div class="container">
      <div class="row" *ngFor="let item of articulosArray">
        <div class="card">
          <img src="{{ item.imagen }}" alt="" />
          <h4>{{ item.nombre }}</h4>
          <p><b>Id: </b>{{ item.id_pedido }}</p>
          <p><b>Modelo: </b>{{ item.modelo }}</p>
          <p><b>Marca: </b>{{ item.marca }}</p>
          <p><b>Estatus: </b>{{ item.estatus }}</p>

          <button
            *ngIf="item.id_estatus == '2'"
            (click)="update(item.id_pedido, 1)"
            class="btn"
          >
            Entregar
          </button>
          <button
            class="btn-update"
            *ngIf="item.id_estatus == '1'"
            (click)="update(item.id_pedido, 2)"
          >
            Quitar entregado
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
