<div class="container" *ngIf="expression">
  <div class="login-box">
    <h2>{{ resp.nombre }}</h2>
    <img src="{{ resp.imagen }}" />
    <ul>
      <li>Disponibles: {{ resp.stock }}</li>
      <li>Modelo: {{ resp.modelo }}</li>
      <li>Marca: {{ resp.marca }}</li>
      <li>Talla: {{ resp.talla }} cm</li>
      <li>Precio: {{ resp.precio | currency: "MXN" }}</li>
    </ul>
    <button *ngIf="showButton && resp.stock > 0" (click)="add()">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Agregar <i class="fa-solid fa-cart-shopping"></i>
    </button>
  </div>
</div>
