.local{
    margin:0;
    padding:0;
    font-family: sans-serif;
}
.login-box {
    position: flex;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    background: rgba(131, 27, 27, 0.945);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  .container { 
    margin-top: 50px;
    top: 50%;
    display: flex;
    justify-content: center;
  }
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #ffffff;
    font-size: 12px;
  }
  label{
    top: -20px;
    left: 0;
    color: #ffffff;
    font-size: 18px;
  }
  .login-box form button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #000000;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
  }
  
  .login-box button:hover {
    background: #49a687;
    color: #fff;
    border-radius: 5px;
  }
  
  .login-box button span {
    position: absolute;
    display: block;
  }
  
  .alert-danger{
    color: rgb(124, 140, 226);
    bottom: 10px;
  }
  select {
    background-color:#464655;
    color: white;
    padding: 12px;
    margin-bottom: 10px;
    width: 250px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
  }
  