<div class="container">
  <div class="login-box">
    <form [formGroup]="form">
      <h2>Registrate Ahora</h2>

      <div class="user-box">
        <input type="text" name="nombre" required formControlName="nombres" />
        <label>Nombres</label>
        <div
          *ngIf="f['nombres'].touched && f['nombres'].invalid"
          class="alert-danger"
        >
          <div *ngIf="f['nombres'].errors && f['nombres'].errors['required']">
            Se necesita un nombre.
          </div>
        </div>
      </div>
      <div class="user-box">
        <input
          type="text"
          name="nombre"
          required
          formControlName="apellido_paterno"
        />
        <label>Apellido Paterno</label>
        <div
          *ngIf="f['apellido_paterno'].touched && f['apellido_paterno'].invalid"
          class="alert-danger"
        >
          <div
            *ngIf="
              f['apellido_paterno'].errors &&
              f['apellido_paterno'].errors['required']
            "
          >
            Se necesita un apellido paterno.
          </div>
        </div>
      </div>
      <div class="user-box">
        <input
          type="text"
          name="nombre"
          required
          formControlName="apellido_materno"
        />
        <label>Apellido Materno</label>
        <div
          *ngIf="f['apellido_materno'].touched && f['apellido_materno'].invalid"
          class="alert-danger"
        >
          <div
            *ngIf="
              f['apellido_materno'].errors &&
              f['apellido_materno'].errors['required']
            "
          >
            Se necesita un apellido materno.
          </div>
        </div>
      </div>
      <div class="user-box">
        <input type="text" name="correo" required formControlName="correo" />
        <label>Correo</label>
        <div
          *ngIf="f['correo'].touched && f['correo'].invalid"
          class="alert-danger"
        >
          <div *ngIf="f['correo'].errors && f['correo'].errors['required']">
            Se necesita un correo.
          </div>
          <div *ngIf="f['correo'].errors && f['correo'].errors['email']">
            Por favor, ingresa un correo valido.
          </div>
        </div>
      </div>
      <div class="user-box">
        <input
          type="text"
          name="nombre"
          required
          formControlName="contrasena"
        />
        <label>Contraseña</label>
        <div
          *ngIf="f['contrasena'].touched && f['contrasena'].invalid"
          class="alert-danger"
        >
          <div
            *ngIf="f['contrasena'].errors && f['contrasena'].errors['required']"
          >
            Se necesita un contraseña.
          </div>
          <div
            *ngIf="
              f['contrasena'].errors && f['contrasena'].errors['minlength']
            "
          >
            Se necesita un almenos 5 caracterres para la contraseña.
          </div>
        </div>
      </div>
      <label>Estado</label>
      <div class="user-box">
        <select formControlName="estado">
          <option value="Aguascalientes">Aguascalientes</option>
          <option value="Baja California">Baja California</option>
          <option value="Baja California Sur">Baja California Sur</option>
          <option value="Campeche">Campeche</option>
          <option value="Chiapas">Chiapas</option>
          <option value="Chihuahua">Chihuahua</option>
          <option value="CDMX">Ciudad de México</option>
          <option value="Coahuila">Coahuila</option>
          <option value="Colima">Colima</option>
          <option value="Durango">Durango</option>
          <option value="Estado de México">Estado de México</option>
          <option value="Guanajuato">Guanajuato</option>
          <option value="Guerrero">Guerrero</option>
          <option value="Hidalgo">Hidalgo</option>
          <option value="Jalisco">Jalisco</option>
          <option value="Michoacán">Michoacán</option>
          <option value="Morelos">Morelos</option>
          <option value="Nayarit">Nayarit</option>
          <option value="Nuevo León">Nuevo León</option>
          <option value="Oaxaca">Oaxaca</option>
          <option value="Puebla">Puebla</option>
          <option value="Querétaro">Querétaro</option>
          <option value="Quintana Roo">Quintana Roo</option>
          <option value="San Luis Potosí">San Luis Potosí</option>
          <option value="Sinaloa">Sinaloa</option>
          <option value="Sonora">Sonora</option>
          <option value="Tabasco">Tabasco</option>
          <option value="Tamaulipas">Tamaulipas</option>
          <option value="Tlaxcala">Tlaxcala</option>
          <option value="Veracruz">Veracruz</option>
          <option value="Yucatán">Yucatán</option>
          <option value="Zacatecas">Zacatecas</option>
        </select>
      </div>
      <div class="user-box">
        <input type="text" name="nombre" required formControlName="calle" />
        <label>Calle</label>
        <div
          *ngIf="f['calle'].touched && f['calle'].invalid"
          class="alert-danger"
        >
          <div *ngIf="f['calle'].errors && f['calle'].errors['required']">
            Se necesita una calle.
          </div>
        </div>
      </div>
      <div class="user-box">
        <input
          type="number"
          min="1"
          name="nombre"
          required
          formControlName="no_exterior"
        />
        <label>Numero Exterior</label>
        <div
          *ngIf="f['no_exterior'].touched && f['no_exterior'].invalid"
          class="alert-danger"
        >
          <div
            *ngIf="
              f['no_exterior'].errors && f['no_exterior'].errors['required']
            "
          >
            Se necesita una calle.
          </div>
        </div>
      </div>
      <div class="user-box">
        <input type="text" name="nombre" required formControlName="colonia" />
        <label>Colonia</label>
        <div
          *ngIf="f['colonia'].touched && f['colonia'].invalid"
          class="alert-danger"
        >
          <div *ngIf="f['colonia'].errors && f['colonia'].errors['required']">
            Se necesita una colonia.
          </div>
        </div>
      </div>
      <div class="user-box">
        <input
          type="number"
          min="1"
          name="nombre"
          required
          formControlName="cp"
        />
        <label>Codigo Postal</label>
        <div *ngIf="f['cp'].touched && f['cp'].invalid" class="alert-danger">
          <div *ngIf="f['cp'].errors && f['cp'].errors['required']">
            Se necesita un codigo postal.
          </div>
        </div>
      </div>
      <button [disabled]="form.invalid" (click)="confirmar()">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Confirmar <i class="fa-solid fa-check"></i>
      </button>
    </form>
  </div>
</div>
