/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');
p{
    font-family: 'Dongle', sans-serif;
    font-size: xx-large;
}

html, body {
    min-width: 320px;
    background-color: #5A5A66;
    margin: 0;
    height: 100%;
  }
  
  body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }