/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');
p{
    font-family: 'Dongle', sans-serif;
    font-size: xx-large;
}
*{
    color: white;
    background-color: #1D2D44;
}