*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
}
a{
    text-decoration: none;
}
.container{
    width: 1300px;
    max-width: 100%;
    margin: 0 auto;
}
.row{
    display:flex;
    align-items:flex-end;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card{
    flex:  1 1 20rem;
    margin: 10px 20px;
    background: #fff;
    box-shadow: 0 0 15px rgba(0,0,.0,0.4);
    padding: 10px 20px;
    flex-wrap: wrap;
    align-self: normal;
    flex-direction: column;
    align-items: center;
}
.card img{
    max-width: 200px;
}
.card h4{
    font-size: 1.3rem;
    text-transform: uppercase;
    margin: 10px 0;
}
.card p{
    margin-bottom: 10px;
}

.card .btn{
    display: inline-block;
    margin-top: auto;
    background: green;
    color:#fff;
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px ;
    -ms-border-radius:5px;
    -o-border-radius:5px ;
}
