<div class="container" *ngIf="expression">
  <div class="login-box">
    <form [formGroup]="form">
      <h2>Nuevo Articulo</h2>
      <div class="user-box">
        <input
          type="text"
          name="nombre"
          required
          formControlName="nombre"
          [(ngModel)]="resp.nombre"
        />
        <label>Nombre</label>
        <div
          *ngIf="f['nombre'].touched && f['nombre'].invalid"
          class="alert-danger"
        >
          <div *ngIf="f['nombre'].errors && f['nombre'].errors['required']">
            Se necesita un nombre.
          </div>
        </div>
      </div>
      <div class="user-box">
        <input
          type="number"
          required
          formControlName="stock"
          min="1"
          [(ngModel)]="resp.stock"
        />
        <label>Disponibles</label>
        <div
          *ngIf="f['stock'].touched && f['stock'].invalid"
          class="alert-danger"
        >
          <div *ngIf="f['stock'].errors && f['stock'].errors['required']">
            Inserta los productos disponibles
          </div>
        </div>
      </div>
      <div class="user-box">
        <input
          type="text "
          required
          formControlName="imagen"
          [(ngModel)]="resp.imagen"
        />
        <label>Imagen</label>
        <div
          *ngIf="f['imagen'].touched && f['imagen'].invalid"
          class="alert-danger"
        >
          <div *ngIf="f['imagen'].errors && f['imagen'].errors['required']">
            Inserta los productos disponibles
          </div>
        </div>
      </div>
      <div class="user-box">
        <input
          type="text"
          name="number"
          required
          formControlName="precio"
          [(ngModel)]="resp.precio"
          min="1"
        />
        <label>Precio</label>
        <div
          *ngIf="f['precio'].touched && f['precio'].invalid"
          class="alert-danger"
        >
          <div *ngIf="f['precio'].errors && f['precio'].errors['required']">
            Se necesita un precio.
          </div>
        </div>
      </div>
      <label>Talla</label>
      <div class="user-box">
        <select formControlName="id_talla" [(ngModel)]="resp.id_talla">
          <option *ngFor="let item of tallas" [value]="item.id_talla">
            {{ item.talla }}
          </option>
        </select>
        <div
          *ngIf="f['id_talla'].touched && f['id_talla'].invalid"
          class="alert-danger"
        >
          <div *ngIf="f['id_talla'].errors && f['id_talla'].errors['required']">
            Selecciona una talla.
          </div>
        </div>
      </div>
      <label>Modelo</label>
      <div class="user-box">
        <select formControlName="id_modelo" [(ngModel)]="resp.id_modelo">
          <option *ngFor="let item of modelos" [value]="item.id_modelo">
            {{ item.modelo }}
          </option>
        </select>
        <div
          *ngIf="f['id_modelo'].touched && f['id_modelo'].invalid"
          class="alert-danger"
        >
          <div
            *ngIf="f['id_modelo'].errors && f['id_modelo'].errors['required']"
          >
            Selecciona un modelo.
          </div>
        </div>
      </div>
      <label>Marca</label>
      <div class="user-box">
        <select formControlName="id_marca" [(ngModel)]="resp.id_marca">
          <option
            *ngFor="let item of marcas"
            [selected]="item.id_marca === resp.id_marca"
            [value]="item.id_marca"
          >
            {{ item.marca }}
          </option>
        </select>
        <div
          *ngIf="f['id_marca'].touched && f['id_marca'].invalid"
          class="alert-danger"
        >
          <div *ngIf="f['id_marca'].errors && f['id_marca'].errors['required']">
            Selecciona una marca.
          </div>
        </div>
      </div>
      <button [disabled]="form.invalid" (click)="confirmar()">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Confirmar <i class="fa-solid fa-angle-right"></i>
      </button>
    </form>
  </div>
</div>
